﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="BankInformation.HomePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
	<style>
		body 
		{
			background-color:wheat;
		}
		.auto-style1 {
			width: 441px;
		}
		</style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        	<table style="margin:auto;border:5px solid white">
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<asp:Label ID="Label1" runat="server" Text="Home"></asp:Label>
						</td>
				</tr>
				<tr>
					<td>
						
						<asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">Add New</asp:LinkButton>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<asp:LinkButton ID="LinkButton2" runat="server" OnClick="LinkButton2_Click">Deposit</asp:LinkButton>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<asp:LinkButton ID="LinkButton3" runat="server" OnClick="LinkButton3_Click">Withdraw</asp:LinkButton>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<asp:LinkButton ID="LinkButton4" runat="server" OnClick="LinkButton4_Click">Transfer</asp:LinkButton>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<asp:LinkButton ID="LinkButton5" runat="server" OnClick="LinkButton5_Click">LogOut</asp:LinkButton>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
        	</table>
			
        </div>
		<table style="margin:auto;border:5px solid white">
			<tr>
				
			<td class="auto-style1">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<br />
				<br />
				<br />
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   <asp:GridView ID="gvAccounts" runat="server" AutoGenerateColumns="False" DataKeyNames="AccountID" 
                       OnRowDeleting="gvAccounts_RowDeleting"
                       
               BackColor="White" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" CellPadding="3" GridLines="Vertical" AutoGenerateDeleteButton="True" >
               

			<AlternatingRowStyle BackColor="#DCDCDC" />
			<FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
			<HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" />
			<PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
			<RowStyle BackColor="#EEEEEE" ForeColor="Black" />
			<SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
			<SortedAscendingCellStyle BackColor="#F1F1F1" />
			<SortedAscendingHeaderStyle BackColor="#0000A9" />
			<SortedDescendingCellStyle BackColor="#CAC9C9" />
			<SortedDescendingHeaderStyle BackColor="#000065" />
			<Columns>
				<asp:TemplateField HeaderText="AccountNo">
					<ItemTemplate>
						<%#Eval("AccountNumber") %>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="AccountName">
					<ItemTemplate>
						<%#Eval("AccountName") %>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="Amount">
					<ItemTemplate>
						<%#Eval("Balance") %>
					</ItemTemplate>
				</asp:TemplateField>
				<asp:TemplateField HeaderText="AccountType">
					<ItemTemplate>
						<%#Eval("AccountType") %>
					</ItemTemplate>
				</asp:TemplateField>
			</Columns>
		</asp:GridView>
			</td>
			</tr>
            <tr>
                <td>
                    <asp:Label ID="lblsuccessmessage" runat="server" ForeColor="Green"></asp:Label>
                </td>
            </tr>
			 <tr>
                <td>
                   <asp:Label ID="lblerromessage" runat="server"></asp:Label>
                </td>
            </tr>
			
		</table >
    </form>
</body>
</html>
